.base-header {
  height: 56px;
  width: 100%;
  padding: 8px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  .header-logo {
    display: flex;
    align-items: center;
    .header-img {
      padding: 0 0 0 8px;
    }
    .header-title {
        padding: 3px 0px 3px 32px;
        width: calc(100vw - 280px - 272px);
    }
  }
  .header-acction {
    display: flex;
    align-items: center;
    gap: 6px;
    .action-btn {
        padding: 10px;
        border-radius: 4px;
        display: flex;
        gap: 6px;
        align-items: center;
        &:hover {
          background: #11161814;
          border: 1px solid transparent;
        }
        &-label {
          font-size: 14px;
          color: #29292b;
          display: flex;
          align-items: center;
          white-space: nowrap;
        }
    }
  }
}
